.btn-blue {
  background-color:$cs-blue !important;
  color:$white;
}
.btn-orange {
  background-color:$cs-orange !important;
  color:$white;
}
.btn-purple {
  background-color:$cs-purple !important;
  color:$white;
}
.btn-red {
  background-color:$cs-red !important;
  color:$white;
}