.btn-blue {
  background-color:$blue !important;
  color:$white;
}
.btn-orange {
  background-color:$orange !important;
  color:$white;
}
.btn-purple {
  background-color:$purple !important;
  color:$white;
}
.btn-red {
  background-color:$red !important;
  color:$white;
}